
.error-message {
    font-size: 16px;
    color: #fff;
    background-color:var(--secondary-color);
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 10px;
    margin: 10px 0;
}

.char-count-error{
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    padding: 10px;
    text-align: right;
}
